@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);

$primary-color: #fff; //white
$secondary-color: #5EB56B; //green
$bg-color: #6c748b; //gray

 *, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: darken($bg-color, 20%);
  color: $bg-color;
  font-family: 'Roboto', Arial, sans-serif;
  overflow-x: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  max-width: 900px;
  margin: 40px auto;
  justify-content: space-around;
}
  
@media all and (max-width:900px) {
  .container {
    width: 100%;
  }
}
 
@media all and (max-width:725px) {
  .container {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
  background: $primary-color;
  border: lighten($bg-color, 45%) 4px solid;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  position: relative;
  left: -1500px;
  animation: 1.5s cubic-bezier(.53,.2,.54,1.33) 0s 1 slidein;
  animation-fill-mode: forwards;
  &:last-of-type {
    margin-right: 0;
  }
  &:nth-of-type(2) {
    animation-delay: 0.5s;
    animation-duration: 1.75s;
  }
  &:nth-of-type(3) {
    animation-delay: 1s;
    animation-duration: 2s;
  }
}

@keyframes slidein {
  from {
      left: -1500px;
  }
  to {
    left: 0;
  }
}
  
a {
  position: relative;
  font-weight: bold;
  font-size: 0.8em;
  background: $secondary-color;
  color: $primary-color;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 30px;
  align-self: center;
  padding: 10px 20px;
  border-bottom: 3px darken($secondary-color, 20%) solid;
  overflow: hidden;
  &:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    height: 100%;
    width: 10%;
    background-color: lighten($secondary-color, 20%);
    transform: skewX(-25deg);
    transition: all 0.5s ease-in-out;
  }
  &:hover:after {
    transform: translateX(250px) skewX(-25deg);  
  }
}
  
ul {
  list-style-type: none;
  padding: 10px 0 15px 0;
  li {
    font-size: 0.8em;
    padding-bottom: 10px;
    &:first-of-type {
      padding-top: 10px;
    }
  }
}
  
h1 {
  font-size: 1em;
  font-weight: 500;
}

h2 {
  font-size: .6em;
  font-weight: 400;
  padding: 3px 5px 15px 5px;
}

.price {
  width: 100%;
  background: lighten($bg-color, 45%);
}

h3 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  span {
    font-weight: 400;
    font-size: 0.4em;
  }
}